.container{
    background-color: rgba(233, 170, 75, 0.774);
}
h1{
    text-align: center;
    margin-top: 20;

}
p{
    text-align: center;
}
.button{
    text-align: center;
}
img{
    max-width: 3;
}